:root {
  font-family: arial;
  --cropper-outline-color: black;
}

image-cropper,
.ngx-ic-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;

  & > div {
    background-color: lightgrey;
  }
}

.coin-form {
  width: 500px;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  div {
    display: flex;

    & > div {
      width: 50%;
    }

    label {
      width: auto;
      color: lightgrey;
      display: inline-block;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 20px;
      padding-right: 10px;
      padding-bottom: 3px;
    }

    input,
    select,
    textarea {
      width: 80%;
      padding: 0;
      outline: 0;
      border: none;
      border-bottom: 1px solid gainsboro;
      margin-bottom: 20px;
      padding-bottom: 3px;
      vertical-align: bottom;
      flex-grow: 1;

      &:not(:has(+ br)) {
        width: 30%;
      }
    }
  }

  input[type='file'] {
    top: -100000px;
    display: none;
    position: absolute;
    visibility: none;
  }

  fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin-bottom: 20px;

    figure {
      margin: 0;
      display: inline-block;
      position: relative;

      button {
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        padding: 0;
        cursor: pointer;
        display: none;
        position: absolute;
        text-align: center;
        background: white;
        font-weight: bold;
        border-radius: 50%;
      }

      &:hover {
        button {
          display: block;
        }
      }
    }

    img {
      width: 100px;
      height: 100px;
      cursor: pointer;
      border-radius: 100%;
      vertical-align: bottom;

      &.primary {
        outline: 2px dashed green;
        outline-offset: 3px;
      }

      &.secondary {
        outline: 2px dashed orange;
        outline-offset: 3px;
      }
    }
  }

  textarea {
    resize: vertical;
    flex-grow: 1;
  }

  .open-file-button {
    color: skyblue;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    outline: 0;
    font-size: 30px;
    background: none;
    border-radius: 50%;
    margin-bottom: 20px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='skyblue' stroke-width='2' stroke-dasharray='4%2c 7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }
}

figure.clone {
  margin: 0;
  position: absolute;
  z-index: 1;

  @media (max-width: 700px) {
    top: 0 !important;
    left: 0 !important;
  }

  &.expand {
    img {
      width: 500px;
      height: 500px;
    }
  }

  img {
    width: 100px;
    height: 100px;
    transition: 1s;
    border-radius: 100%;
  }

  button {
    display: none;
  }

  &:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
  }
}

.coin-buttons {
  display: flex;
}

.coins-list {
  gap: 20px;
  width: 50%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: calc(25%);
  justify-content: center;

  li {
    width: 100px;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  figure {
    margin: 0;
    cursor: pointer;
    position: relative;

    &.wanted img {
      filter: grayscale(1);
      opacity: 0.2;
    }

    .replace-icon {
      top: 0;
      right: 0;
      width: 15px;
      height: 18px;
      border-radius: 0;
      position: absolute;
    }

    .delivery-icon {
      top: 0;
      right: 0;
      width: 25px;
      height: 15px;
      border-radius: 0;
      position: absolute;
    }
  }

  figcaption {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin: 0;

    figcaption {
      font-size: 14px;
    }
  }
}

.coins-search {
  width: 400px;
  margin: 50px calc(50% - 200px);
  position: relative;

  input {
    width: 100%;
    border: 0;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    outline: 0;
    &::placeholder {
      color: lightgrey;
    }
  }

  sup {
    color: lightgrey;
    width: 100%;
    display: inline-block;
    text-align: right;
  }
}

.coin-new-btn {
  top: 0;
  right: 0;
  color: grey;
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 30px;
  font-weight: 300;
  background: none;
}

.ngx-ic-resize span,
.ngx-ic-square {
  background: white !important;
}

.ngx-ic-resize {
  z-index: 10 !important;
}

.back-to-list-btn {
  color: grey;
  cursor: pointer;
  border: none;
  font-size: 30px;
  background: none;
  transform: rotate(50deg);
}

p:has(mark) {
  gap: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 10px;

  strong:not(:empty) {
    width: 30px;
    margin-right: 10px;
  }

  .center & {
    display: flex;
    justify-content: center;
  }
}

.tag,
.set,
.country {
  padding: 1px 5px;
  border-width: 1px;
  border-radius: 5px;

  .coins-list & {
    font-size: 12px;
  }

  .togglable &,
  .selectable & {
    cursor: pointer;
    opacity: 0.5;

    &:hover,
    &.selected {
      opacity: 1;
    }
  }

  &[contenteditable] {
    outline: none;
    min-width: 50px;
    background: white !important;
    border-style: dashed;
  }

  button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    background: none;
    border-left: 1px solid white;
    margin-left: 5px;
    padding-right: 0;
  }
}

mark.tag {
  border-color: blue;
  background: rgb(145, 145, 255);
}

mark.set {
  background: rgb(252, 195, 195);
  border-color: red;
}

mark.country {
  background: lightgrey;
  border-color: grey;
}

.tags-search-options {
  top: 50px;
  left: 20px;
  width: 250px;
  position: fixed;

  @media (min-width: 700px) {
    mark {
      margin-left: 0 !important;
    }
  }

  @media (max-width: 700px) {
    top: 10px;
    left: 0;
    width: 100%;
    position: relative;

    p:has(mark) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.logout-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.coin-placeholder-image {
  opacity: 0.2;
}

.highlight {
  font-weight: bold;
  color: lightblue;
}

.mr-10 {
  margin-right: 10px;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

input[type='checkbox'] {
  margin-right: 5px;

  &:not(:disabled) {
    cursor: pointer;

    & + label {
      cursor: pointer;
    }
  }

  &:disabled + label {
    opacity: 0.3;
  }
}

.checkboxes {
  top: 50px;
  right: 50px;
  position: absolute;

  @media (max-width: 700px) {
    top: 0;
    display: flex;
    align-items: center;
  }
}

.replace-icon {
  position: absolute;
}
